*.xlsx binary
*.docx binary
*.py text eol=auto
*.ini text eol=auto
*.md text eol=auto
*.tex text eol=auto
*.txt text eol=auto
*.bat text eol=auto
*.log text eol=auto
.gitattributes text eol=auto
.gitignore text eol=auto
