
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
# Byte-compiled / optimized / DLL files
# C extensions
# Distribution / packaging
# Django stuff:
# Environments
# Flask stuff:
# Installer logs
# Jupyter Notebook
# PyBuilder
# PyInstaller
# Rope project settings
# SageMath parsed files
# Scrapy stuff:
# Sphinx documentation
# Spyder project settings
# Translations
# Unit test / coverage reports
# celery beat schedule file
# mkdocs documentation
# mypy
# pyenv
*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
*~
.DS_Store
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
/site
ENV/
MANIFEST
__pycache__/
build/
celerybeat-schedule
coverage.xml
db.sqlite3
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv.bak/
venv/
wheels/
output.*
*.aux
*.pdf
*.tex
demo?.html
demo?.md
demo*.png
*.png
